<p>Hola <%= @resource.email %>!</p>

<p>Nos enteramos que has olvidado tu contraseña, lo lamentamos!</p>

<p>Pero no te preocupes! Puedes usar el siguiente link "Cambiar mi contraseña" para resetear tu contraseña:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Debes utilizar este link dentro de las 24hs. Si no necesitas resetear tu contraseña, ignora este mensaje.</p>
<p>Gracias!</p>
<p>Tus amigos de UnaGauchada.</p>
