  <%verif=false%>
  <% @postulaciones.each do |postulacion| %>
  <% pos = postulacion.gauchada_id %>
    <% gauchada = @gauchadas.find(pos) %>
    <% if (gauchada.cumplida == false)%>
    <%verif=true%>
    <div class="row">
         <div class="col-md-4"></div>
          <div class="col-md-4">
              <div class="well product-item">
                <div class="pi-img-wrapper">
                  <% if (gauchada.imagen != nil) && (gauchada.imagen != "") %>
                   <%=image_tag gauchada.imagen,size:"300x300", class:"img-responsive" %>
                   <% else %>
                   <img src="http://mgiep.unesco.org/wp-content/plugins/ajax-search-lite/img/default.jpg" size="300x300" class="img-responsive">
                  <%end %>
                </div>
                <h3><%=  link_to gauchada.titulo, gauchada %></h3>
                <div class="row">
                <div class="pi-price col-md-8"> <%= gauchada.ubicacion.titleize %></div>
                <div class=" pi-price col-md-4"> <h5> <%= postulacion.estado %> </h5> </div>
              </div>
            </div>
         </div>
         <div class="col-md-4"></div>
    </div>
  <% end %>
  <% end %>
  <% if verif == false %>
	 	<h3  ALIGN=CENTER> <td colspan="3"> No Tiene Postulaciones </h3>
  <% end %>
